@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  color: #666;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.left-links, .right-links {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
}

.footer {
  display: flex;
  background-color: #eeeeee;
  justify-content: space-between;
  padding: 16px;
}

.buttons {
  display: flex;
  align-items: center;
}